#**Q1.**Discuss string slicing and provide example.

##**String slicing** in python allows you to extract a portion of a string by specifying a start and end index.

##**Syntax of string slicing:**

# string[start:stop:step]

##example 1: **Basic slicing**

In [4]:
text = "Hello, World!"
slice_text = text[0:5]
print(slice_text)

Hello

##Example 2: **Omitting the start and stop Values**

In [5]:
text = "Hello, World!"

# Slice from the beginning to index 5
print(text[:5])  # Output: Hello

# Slice from index 7 to the end
print(text[7:])  # Output: World!

Hello
World!

##Example 3: **Using Negative Indices**

In [6]:
text = "Hello, World!"

# Slice using negative indices
slice_text = text[-6:-1]
print(slice_text)

World

##Example 4: **Using the step Parameter**

In [7]:
text = "Hello, World!"

# Slice every second character
slice_text = text[0:10:2]
print(slice_text)

Hlo o

##Example 5: **Reversing a String**

In [8]:
text = "Hello, World!"

# Reverse the entire string
reversed_text = text[::-1]
print(reversed_text)

!dlroW ,olleH

#**Q2.**Explain the key features of lists in python.

#**Key features of lists in Python:**

#**Ordered:** Lists maintain the order of elements as they are added.
#**Mutable:** You can modify, add, or remove elements after the list is created.
#**Heterogeneous:** Lists can contain elements of different data types (e.g., integers, strings, floats, even other lists).
#**Dynamic**: Lists can grow or shrink in size as needed.
#**Indexed Access:** Elements can be accessed using their index, starting from 0 for the first element.
#**Slicing:** You can extract a portion of the list using slicing.
#**Iterable:** You can iterate over the elements of a list using loops.
#**Duplicate Elements:** Lists can contain duplicate elements.
#**Nested Lists:** Lists can contain other lists, creating nested structures.
#**Built-in Methods:** Python provides many built-in methods for manipulating lists, such as append(), remove(), sort(), and more.

#**Q3**.Describe how to access,modify,and delete element in alist with examples.

##To **access, modify, and delete** elements in a list
#**Accessing elements:** use the index operator ([ ]) to access specific elements based on their position (starting from 0)

In [9]:
    fruits = ["apple", "banana", "orange"]

    print(fruits[0])  # Output: "apple" (accesses the first element)

    print(fruits[1])  # Output: "banana" (accesses the second element)

apple
banana

#**Modifying elements:** assign a new value to an element to modify it

In [10]:
    fruits = ["apple", "banana", "orange"]

    fruits[1] = "mango"

    print(fruits)  # Output: ["apple", "mango", "orange"]

['apple', 'mango', 'orange']

#**Deleting elements:** use the del keyword to delete an element at a specific index

In [ ]:
    fruits = ["apple", "banana", "orange"]

    del fruits[1]

    print(fruits)  # Output: ["apple", "orange"]

#**Q4.**Compare and contrast tuples and lists with examples.

#Both tuples and lists are used to store collections of elements in Python. However, they have key differences in their properties and usage.


#**Tuples**
##**Immutable:** Once created, the elements of a tuple cannot be changed. This makes them suitable for storing data that should remain constant.
##**Slower:** Tuples are generally slower to modify than lists due to their immutability.
##**Indexed:** Elements can be accessed using their index.
##**Common Use Cases:**
*  Storing fixed data, such as days of the week or months of the year
*  Representing immutable coordinates or mathematical vectors
* Creating lookup tables or dictionaries

##Example:

In [1]:
my_tuple = (1, 2, 3, "hello")
print(my_tuple[0])  # Output: 1

1

#**Lists**
##**Mutable:** Elements can be added, removed, or modified after creation.
##**Faster:** Lists are generally faster to modify than tuples due to their mutability.
##**Indexed:** Elements can be accessed using their index.
##**Common Use Cases:**

*  Storing dynamic data that needs to be modified
*  Implementing data structures like stacks, queues, and linked lists
*  Creating lists of objects or other data types

##Example:

In [2]:
my_list = [1, 2, 3, "hello"]
my_list.append(4)
print(my_list)  # Output: [1, 2, 3, 'hello', 4]

[1, 2, 3, 'hello', 4]

#**Q5.**Describe the key features of sets and provide examples of their use.

#**Key Features of Sets:**
#**Unordered:** The elements in a set do not have a specific order.
#**Unique:** Duplicate elements are automatically removed.
#**Mutable:** Elements can be added or removed after creation.
#**Iterable:** Elements can be accessed using loops or other iteration methods.
#**Support Set Operations:**Sets support various mathematical operations like union, intersection, difference, and symmetric difference.

##**Examples of Set Usage:**
#1.Membership testing:

In [3]:
my_set = {1, 2, 3, 4}
if 3 in my_set:
    print("3 is in the set")

3 is in the set

#2.Removing Duplicates:

In [5]:
my_list = [1, 2, 3, 2, 4, 1]
unique_elements = set(my_list)
print(unique_elements)

{1, 2, 3, 4}

#3.Set Operations:

In [7]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Union: Elements in either set or both
union_set = set1 | set2
print(union_set)

# Intersection: Elements in both sets
intersection_set = set1 & set2
print(intersection_set)

# Difference: Elements in set1 but not in set2
difference_set = set1 - set2
print(difference_set)

# Symmetric difference: Elements in either set but not both
symmetric_difference_set = set1 ^ set2
print(symmetric_difference_set)

{1, 2, 3, 4}
{2, 3}
{1}
{1, 4}

#4.Checking Subsets and Supersets:

In [8]:
set1 = {1, 2, 3}
set2 = {1, 2}

if set2 <= set1:
    print("set2 is a subset of set1")
if set1 >= set2:
    print("set1 is a superset of set2")

set2 is a subset of set1
set1 is a superset of set2

#**Q6.**Discuss the use cases of tuples and sets in python programming.

#**Use Cases of Tuples in Python**

##**Representing immutable data:** Tuples can be used to represent fixed data structures like coordinates, dates, or times.
##**Creating lookup tables:** Tuples can be used as keys in dictionaries for efficient lookups.
##**Returning multiple values from functions:** Functions can return multiple values as a tuple.
##**Unpacking values:** Tuples can be used to unpack values into individual variables.

In [9]:
# Representing coordinates
point = (3, 4)

# Creating a lookup table
student_grades = {("Alice", "Math"): 95, ("Bob", "Science"): 88}

# Returning multiple values
def get_name_and_age():
    return "Alice", 30

name, age = get_name_and_age()

#**Use cases of Sets in Python**
##**Removing duplicates:** Sets can be used to efficiently remove duplicates from a list or sequence.
##**Membership testing:** Checking if an element exists in a set is faster than in a list.
##**Set operations:**Performing operations like union, intersection, difference, and symmetric difference on sets.
##**Data analysis:** Sets can be used for data analysis tasks like finding common elements or unique values.

In [9]:
# Removing duplicates
numbers = [1, 2, 3, 2, 4, 1]
unique_numbers = set(numbers)

# Membership testing
if 3 in unique_numbers:
    print("3 is in the set")

# Set operations
set1 = {1, 2, 3}
set2 = {2, 3, 4}
union_set = set1 | set2
intersection_set = set1 & set2

3 is in the set

#**Q7.** Describe how to add, modify and delete items in a dictionary with examples.

##Dictionaries in Python are mutable data structures, meaning you can add, modify, and delete items after they've been created.

#**Adding Items**

In [1]:
# Create an empty dictionary
my_dict = {}

# Add new key-value pairs
my_dict['name'] = 'John'
my_dict['age'] = 30
my_dict['city'] = 'New York'

print(my_dict)

{'name': 'John', 'age': 30, 'city': 'New York'}

#**Modifying Items**

In [3]:
# Existing dictionary
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}

# Modify an existing value
my_dict['age'] = 31  # Changing age from 30 to 31

print(my_dict)

{'name': 'John', 'age': 31, 'city': 'New York'}

#**Deleting Items**

##**a.**Using **del** Keyword

In [4]:
# Dictionary before deletion
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}

# Delete a key-value pair
del my_dict['city']

print(my_dict)

{'name': 'John', 'age': 30}

#**b.** Using **pop()** Method

In [ ]:
# Using pop() to remove an item
age = my_dict.pop('age')
print(age)        # Output: 30
print(my_dict)    # Output: {'name': 'John'}

#**Q8.**Discuss the importance of dictionary keys being immutable and provide examples.

#**The Importance of Immutable Dictionary Keys**
##dictionary keys must be immutable objects. This means that they cannot be changed after they are created. This requirement is fundamental for the efficient operation of dictionaries.

#**Why must dictionary keys be immutable?**
#**1.Hashing:** Dictionaries use hashing to store and retrieve key-value pairs efficiently. The hash value of a key is used to determine its location within the dictionary. If keys could be changed, their hash values would also change, making it impossible to find the corresponding value.
#**2.Consistency:** Immutable keys ensure that the dictionary remains consistent. If keys could be changed, it would be difficult to guarantee that the same key would always refer to the same value.
#**3.Efficiency:** Immutable objects can be compared efficiently using the is operator, which checks for object identity rather than equality. This is crucial for dictionary operations like searching and updating.

##**Examples of immutable objects suitable for dictionary keys**
#**Numbers:**Integers, floats, and complex numbers are immutable.
#**Strings:** Strings are also immutable.
#**Tuples:** Tuples are immutable sequences of elements.

##**Examples of mutable objects that cannot be used as dictionary keys:**

#**Lists:** Lists are mutable, so they cannot be used as keys.
#**Dictionaries:** Dictionaries are mutable, so they cannot be used as keys.
#**Sets:** Sets are mutable, so they cannot be used as keys.


##**Example demonstrating the importance of immutable keys:**

In [11]:
my_dict = {1: 'apple', 'banana': 2}

# This will raise a TypeError because lists are mutable
# my_dict[[1, 2]] = 'pear'

# This is valid because tuples are immutable
my_dict[(1, 2)] = 'pear'