#Q1.Write a code to reverse a string.

In [ ]:
def reverse_string(string):

    return string[::-1]

# Example usage:
string = "hello world"
reversed_string = reverse_string(string)
print(reversed_string)

dlrow olleh

#Q2.Write a code to count the number of vowels in string.

In [ ]:
def count_vowels(string):


    vowels = "aeiouAEIOU"
    count = 0
    for char in string:
        if char in vowels:
            count += 1
    return count

# Example usage:
string = "Hello, World!"
vowel_count = count_vowels(string)
print("Number of vowels:", vowel_count)

Number of vowels: 3

#Q3.Write a code to check if a given string is a palindrome or not.

In [ ]:
def is_palindrome(string):

    return string == string[::-1]

# Example usage:
string = "racecar"
if is_palindrome(string):
    print(string, "is a palindrome")
else:
    print(string, "is not a palindrome")

racecar is a palindrome

#Q4.Write a code to check if two given strings are anagrams of each other.

In [ ]:
def are_anagrams(str1, str2):

    if len(str1) != len(str2):
        return False

    char_count = {}
    for char in str1:
        char_count[char] = char_count.get(char, 0) + 1

    for char in str2:
        if char not in char_count or char_count[char] == 0:
            return False
        char_count[char] -= 1

    return True

# Example usage:
str1 = "listen"
str2 = "silent"

if are_anagrams(str1, str2):
    print(str1, "and", str2, "are anagrams")
else:
    print(str1, "and", str2, "are not anagrams")

listen and silent are anagrams

#Q5.Write a code to find all occurrences of a given substring within another strings.

In [ ]:
def find_substring_occurrences(string, substring):


    indices = []
    index = 0
    while index < len(string):
        index = string.find(substring, index)
        if index == -1:
            break
        indices.append(index)
        index += 1
    return indices

# Example usage:
string = "hello world hello"
substring = "hello"
occurrences = find_substring_occurrences(string, substring)
print(occurrences)

[0, 12]

#Q6.Write a code to perform basic string compression using the counts of repeated characters.

In [ ]:
def compress_string(string):

    compressed_string = ""
    count = 1
    for i in range(1, len(string)):
        if string[i] == string[i - 1]:
            count += 1
        else:
            compressed_string += string[i - 1] + str(count)
            count = 1
    compressed_string += string[-1] + str(count)
    return compressed_string

# Example usage:
string = "aaabbbccde"
compressed_string = compress_string(string)
print(compressed_string)

a3b3c2d1e1

#Q7.Write a code to determine if a string has all unique characters.

In [ ]:
def has_unique_chars(string):


    char_set = set()
    for char in string:
        if char in char_set:
            return False
        char_set.add(char)
    return True

# Example usage:
string1 = "hello"
string2 = "abcde"

print(has_unique_chars(string1))
print(has_unique_chars(string2))

False
True

#Q8.Write a code to convert a given string to uppercase or lowercase.

In [ ]:
def convert_case(string, case):

    if case == 'upper':
        return string.upper()
    elif case == 'lower':
        return string.lower()
    else:
        return "Invalid case"

# Example usage:
string = "HeLlO, WoRlD!"
uppercase_string = convert_case(string, 'upper')
lowercase_string = convert_case(string, 'lower')

print(uppercase_string)
print(lowercase_string)

HELLO, WORLD!
hello, world!

#Q9.Write a code to count the number of words in a string.

In [ ]:
def count_words(string):


    words = string.split()
    return len(words)

# Example usage:
string = "This is a sample string with eight words"
word_count = count_words(string)
print("Number of words:", word_count)

Number of words: 8

#Q10.Write a code to concatenate two strings without using the + operator.

In [ ]:
def concatenate_strings(str1, str2):
    return "{}{}".format(str1, str2)

# Example usage
string1 = "Hello"
string2 = "World"
result = concatenate_strings(string1, string2)
print("Concatenated String:", result)

Concatenated String: HelloWorld

#Q11.Write a code to remove all occurrences of a specific element from a list.

In [ ]:
def remove_all_occurrences(lst, element):
    return [item for item in lst if item != element]

# Example usage
original_list = [1, 2, 3, 4, 2, 5, 2, 6]
element_to_remove = 2
result = remove_all_occurrences(original_list, element_to_remove)
print("Original List:", original_list)
print("Updated List:", result)

Original List: [1, 2, 3, 4, 2, 5, 2, 6]
Updated List: [1, 3, 4, 5, 6]

#Q12.Implement a code to find the second largest number in a given list of integers.

In [ ]:
def find_second_largest(numbers):

  if len(numbers) < 2:
    return None

  largest = second_largest = float('-infinity')
  for num in numbers:
    if num > largest:
      second_largest = largest
      largest = num
    elif num > second_largest and num != largest:
      second_largest = num

  return second_largest

# Example usage:
numbers = [12, 35, 1, 10, 34, 1]
second_largest_number = find_second_largest(numbers)
print(second_largest_number)

34

#Q13.Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values.

In [ ]:
def count_occurrences(lst):

  count_dict = {}
  for element in lst:
    count_dict[element] = count_dict.get(element, 0) + 1
  return count_dict

# Example usage:
my_list = [1, 2, 3, 2, 1, 4, 5, 1]
result = count_occurrences(my_list)
print(result)

{1: 3, 2: 2, 3: 1, 4: 1, 5: 1}

#Q14.Write a code to reverse a list in-place without using any built-in reverse functions.

In [ ]:
def reverse_list_in_place(lst):

  left, right = 0, len(lst) - 1
  while left < right:
    lst[left], lst[right] = lst[right], lst[left]
    left += 1
    right -= 1

# Example usage:
my_list = [1, 2, 3, 4, 5]
reverse_list_in_place(my_list)
print(my_list)

[5, 4, 3, 2, 1]

#Q15.Implement a code to find and remove duplicates from a list while preserving the original order of elements.

In [ ]:
def remove_duplicates_preserve_order(lst):
    seen = set()
    result = []
    for item in lst:
        if item not in seen:
            result.append(item)
            seen.add(item)
    return result

# Example usage
example_list = [1, 2, 2, 3, 4, 3, 5, 1, 6]
unique_list = remove_duplicates_preserve_order(example_list)
print("Original List:", example_list)
print("List Without Duplicates:", unique_list)

Original List: [1, 2, 2, 3, 4, 3, 5, 1, 6]
List Without Duplicates: [1, 2, 3, 4, 5, 6]

#Q16.Create a code to check if a given list is sorted (either in ascending or descending order) or not.

In [ ]:
def is_sorted(lst):

  ascending = descending = True
  for i in range(1, len(lst)):
    if lst[i] < lst[i - 1]:
      ascending = False
    if lst[i] > lst[i - 1]:
      descending = False

  return ascending or descending

# Example usage:
list1 = [1, 2, 3, 4, 5]
list2 = [5, 4, 3, 2, 1]
list3 = [1, 3, 2, 4]

print(is_sorted(list1))
print(is_sorted(list2))
print(is_sorted(list3))

True
True
False

#Q17.Write a code to merge two sorted lists into a single sorted list.

In [ ]:
def merge_sorted_lists(list1, list2):

  merged_list = []
  i = j = 0
  while i < len(list1) and j < len(list2):
    if list1[i] < list2[j]:
      merged_list.append(list1[i])
      i += 1
    else:
      merged_list.append(list2[j])
      j += 1

  # Append remaining elements from the lists, if any
  merged_list.extend(list1[i:])
  merged_list.extend(list2[j:])

  return merged_list

# Example usage:
list1 = [1, 3, 5, 7]
list2 = [2, 4, 6, 8]
merged_list = merge_sorted_lists(list1, list2)
print(merged_list)

[1, 2, 3, 4, 5, 6, 7, 8]

#Q18.Implement a code to find the intersection of two given lists.

In [ ]:
def intersection(list1, list2):

  set1 = set(list1)
  set2 = set(list2)
  intersection_set = set1.intersection(set2)
  return list(intersection_set)

# Example usage:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
intersection_list = intersection(list1, list2)
print(intersection_list)

[3, 4, 5]

#Q19.Create a code to find the union of two lists without duplicates.

In [ ]:
def union(list1, list2):

  union_set = set(list1 + list2)
  return list(union_set)

# Example usage:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
union_list = union(list1, list2)
print(union_list)

[1, 2, 3, 4, 5, 6, 7]

#Q20.Write a code to shuffle a given list randomly without using any built-in shuffle functions.

In [ ]:
import random

def shuffle_list(lst):
    # Traverse the list from the last element to the second element
    for i in range(len(lst) - 1, 0, -1):
        # Pick a random index from 0 to i
        j = random.randint(0, i)
        # Swap elements at indices i and j
        lst[i], lst[j] = lst[j], lst[i]

# Example usage
example_list = [1, 2, 3, 4, 5]
shuffle_list(example_list)
print("Shuffled List:", example_list)

Shuffled List: [2, 5, 1, 4, 3]

#Q21.Write a code that take two tuples as input as return a new tuple containing elements that are common to both inputs tuples.

In [ ]:
def find_common_elements(tuple1, tuple2):

    set1 = set(tuple1)
    set2 = set(tuple2)
    common_elements = set1.intersection(set2)
    return tuple(common_elements)

# Example usage:
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (3, 4, 5, 6, 7)
common_tuple = find_common_elements(tuple1, tuple2)
print(common_tuple)

#Q22.Create a code that prompts the user to enter two sets of integers separated by commas. then, print the intersection of these two sets.

In [ ]:
def get_set_from_input(prompt):
    # Prompt the user and split the input by commas
    return set(map(int, input(prompt).split(',')))

# Get input from the user
set1 = get_set_from_input("Enter the first set of integers (comma-separated): ")
set2 = get_set_from_input("Enter the second set of integers (comma-separated): ")

# Find the intersection of the two sets
intersection = set1 & set2

# Print the result
print("Intersection of the two sets:", intersection)

Enter the first set of integers (comma-separated): 1,2,3,4,5
Enter the second set of integers (comma-separated): 3,4,5,6,7
Intersection of the two sets: {3, 4, 5}

#Q23.Write a code to concatenate two tuples. the function should take two tuples as input and return a new tuple containing elements from both input tuples.

In [ ]:
def concatenate_tuples(tuple1, tuple2):

  return tuple1 + tuple2

# Example usage:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result = concatenate_tuples(tuple1, tuple2)
print(result)

(1, 2, 3, 4, 5, 6)

#Q24.Develop a code that prompts the user to input two sets of strings. then, print the elements that are present in the first set but not in the second set.

In [ ]:
def get_set_from_input(prompt):
    # Prompt the user and split the input by commas
    return set(input(prompt).split(','))

# Get input from the user
set1 = get_set_from_input("Enter the first set of strings (comma-separated): ")
set2 = get_set_from_input("Enter the second set of strings (comma-separated): ")

# Find the difference (elements in set1 but not in set2)
difference = set1 - set2

# Print the result
print("Elements in the first set but not in the second set:", difference)

Enter the first set of strings (comma-separated): apple,banana,orange
Enter the second set of strings (comma-separated): banana,grape
Elements in the first set but not in the second set: {'orange', 'apple'}

#Q25.Create a code that takes a tuple and two integers as input. the function should return a new tuple containing elements from the original tuple within the specified range of indices.

In [ ]:
def slice_tuple(tuple_input, start_index, end_index):

  return tuple_input[start_index:end_index]

# Example usage:
my_tuple = (1, 2, 3, 4, 5, 6, 7)
sliced_tuple = slice_tuple(my_tuple, 2, 5)
print(sliced_tuple)

(3, 4, 5)

#Q26.Write a code that prompts the user to input two sets of characters. then print the union of these two sets.

In [ ]:
def get_union_of_sets():
  set1_str = input("Enter the first set of characters, separated by commas: ")
  set2_str = input("Enter the second set of characters, separated by commas: ")

  set1 = set(set1_str.split(","))
  set2 = set(set2_str.split(","))

  union_set = set1.union(set2)
  print("Union of the sets:", union_set)

if __name__ == "__main__":
  get_union_of_sets()

Enter the first set of characters, separated by commas: a,b,c
Enter the second set of characters, separated by commas: c,d,e
Union of the sets: {'c', 'e', 'b', 'd', 'a'}

#Q27.Develop a code that takes a tuple of integers as input. the function should return the maximum and minimum values from the tuple using tuple unpacking.

In [ ]:
def find_max_and_min(values):
    # Find the maximum and minimum values
    max_value = max(values)
    min_value = min(values)
    # Return them as a tuple
    return max_value, min_value

# Example usage
input_tuple = (10, 20, 5, 40, 25)
max_val, min_val = find_max_and_min(input_tuple)  # Tuple unpacking
print("Input Tuple:", input_tuple)
print("Maximum Value:", max_val)
print("Minimum Value:", min_val)

Input Tuple: (10, 20, 5, 40, 25)
Maximum Value: 40
Minimum Value: 5

#Q28.Create a code that defines two sets of integers. then,print the union,intersection, and difference of these two sets.

In [ ]:
def set_operations(set1, set2):
  union_set = set1.union(set2)
  intersection_set = set1.intersection(set2)
  difference_set = set1.difference(set2)

  print("Union:", union_set)
  print("Intersection:", intersection_set)
  print("Difference (set1 - set2):", difference_set)

# Example usage:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

set_operations(set1, set2)

Union: {1, 2, 3, 4, 5, 6, 7}
Intersection: {3, 4, 5}
Difference (set1 - set2): {1, 2}

#Q29.Write a code that takes a tuple and an element as input. the function should return the count of occurrence of the given element in the tuple.

In [ ]:
def count_occurrences(tuple_input, element):
  count = 0
  for item in tuple_input:
    if item == element:
      count += 1
  return count

# Example usage:
my_tuple = (1, 2, 3, 2, 1, 4, 5, 1)
element_to_count = 1
count = count_occurrences(my_tuple, element_to_count)
print(f"The element {element_to_count} occurs {count} times in the tuple.")

The element 1 occurs 3 times in the tuple.

#Q30. Develop a code that prompts the user to input two sets of strings. then, print the symmetric different of these two sets.

In [ ]:
def get_set_from_input(prompt):
    # Prompt the user and split the input by commas
    return set(input(prompt).split(','))

# Get input from the user
set1 = get_set_from_input("Enter the first set of strings (comma-separated): ")
set2 = get_set_from_input("Enter the second set of strings (comma-separated): ")

# Find the symmetric difference of the two sets
symmetric_difference = set1 ^ set2

# Print the result
print("Symmetric Difference of the two sets:", symmetric_difference)

Enter the first set of strings (comma-separated): apple,banana,orange
Enter the second set of strings (comma-separated): banana,grape,orange
Symmetric Difference of the two sets: {'grape', 'apple'}

#Q31.Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.

In [ ]:
def word_frequency(words):
  word_count = {}
  for word in words:
    word_count[word] = word_count.get(word, 0) + 1
  return word_count

# Example usage:
word_list = ["apple", "banana", "apple", "orange", "banana", "apple"]
word_freq = word_frequency(word_list)
print(word_freq)

{'apple': 3, 'banana': 2, 'orange': 1}

#Q32.Write a code that takes two dictionaries as input and merges them into a single dictionary. if there are common keys, the values should be added together.

In [ ]:
def merge_dictionaries(dict1, dict2):
    merged_dict = dict1.copy()  # Start with a copy of the first dictionary
    for key, value in dict2.items():
        if key in merged_dict:
            merged_dict[key] += value  # Add the values for common keys
        else:
            merged_dict[key] = value  # Add new keys from the second dictionary
    return merged_dict

# Example usage
dict1 = {'a': 10, 'b': 20, 'c': 30}
dict2 = {'b': 15, 'c': 25, 'd': 35}
result = merge_dictionaries(dict1, dict2)
print("Merged Dictionary:", result)

Merged Dictionary: {'a': 10, 'b': 35, 'c': 55, 'd': 35}

#Q33.Write a code to access a value in a nested dictionary. the function should take the dictionary and a list of keys as input, and return the corresponding value. if any of the keys do not exist in the dictionary, the function should return none.

In [ ]:
def get_nested_value(dictionary, keys):
  current_dict = dictionary
  for key in keys:
    if key not in current_dict:
      return None
    current_dict = current_dict[key]
  return current_dict

# Example usage:
nested_dict = {
    "a": {
        "b": {
            "c": 10
        }
    }
}

keys = ["a", "b", "c"]
value = get_nested_value(nested_dict, keys)
print(value)

10

#Q34.Write a code that takes a dictionary as input and returns a sorted version of it based on the values. you can choose whether to sort in ascending order.

In [ ]:
def sort_dict_by_values(dictionary):
  sorted_items = sorted(dictionary.items(), key=lambda x: x[1])
  return sorted_items

# Example usage:
my_dict = {'a': 3, 'b': 1, 'c': 2, 'd': 3}
sorted_items = sort_dict_by_values(my_dict)
print(sorted_items)

[('b', 1), ('c', 2), ('a', 3), ('d', 3)]

#Q35.Write a code that inverts a dictionary, swapping keys and values. ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.

In [ ]:
def invert_dictionary(dictionary):
  inverted_dict = {}
  for key, value in dictionary.items():
    if value not in inverted_dict:
      inverted_dict[value] = [key]
    else:
      inverted_dict[value].append(key)
  return inverted_dict

# Example usage:
original_dict = {'a': 1, 'b': 2, 'c': 1, 'd': 3}
inverted_dict = invert_dictionary(original_dict)
print(inverted_dict)

{1: ['a', 'c'], 2: ['b'], 3: ['d']}